.superadmin-container {
    display: flex;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
  }
  
  .stat-box {
    background: #3498db;
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    width: 30%;
  }
  